{% extends "reminder.html" %}
{% load staticfiles %}
{% block title %}Reminders - Create{% endblock %}
{% block content %}
                                <p>
                                        <span class="span1">
Welcome to Reminders Portal.This portal can be used to create new reminders as well as modify and delete them.
                                </p>
<h2>Reminders</h2>
 <h3>Reminder details Form</h3>
  <p>To create Reminders, fill out the form.</p>
  <form method="post">{% csrf_token %}
    <p>Purpose: <input id="purpose" type="text" name="purpose" placeholder="personal"></p>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
