{% extends "reminders.html" %}
{% load staticfiles %}
{% block title %}Reminders - Create{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<img src="{% static "images/site-logo.png" %}"  width="10%" height="10%">
<h2>Reminders</h2>
<h5>This form lets you create a reminder for yourself or a system to take an action after the specified number of days.</h5>
<!--<p>The default action is to send you an email after the expiration of the term specified.</p>-->
<form method="post" action="/home/">
     {% for field in form %}
<p>
        {{ field }}
</p>
     {% endfor %}
  <input type="submit" value="Submit">
</form>
<!--
  <form method="post">{% csrf_token %}
    <p>Path: <input id="purpose" type="text" name="purpose" placeholder="folder/subfolder"></p>
    <input type="submit" value="Submit">
  </form>
<p>{{ success }}</p>
        <img src="{% static "{{ imgurl }}" %}">
-->
<p>{{ error }}</p>
{% endblock %}
